// Colors

// Primary
$C1_blue: hsl(223, 87%, 63%);

// Secondary
$C2_pale-blue: hsl(223, 100%, 88%);
$C3_light-red: hsl(354, 100%, 66%);

// Neutral
$C4_gray: hsl(0, 0%, 59%);
$C5_very-dark-blue: hsl(209, 33%, 12%);

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100vh;
}

main {
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
}

header {
    margin-top: 65px;

    display: flex;
    flex-direction: column;
    align-items: center;

    img {
        width: 65px;
    }

    h1 {
        margin-top: 36px;

        font-family: "Libre Franklin", serif;
        font-size: 37px;
        font-weight: 300;

        color: $C4_gray;

        span {
            font-weight: bold;
            color: $C5_very-dark-blue;
        }
    }

    p {
        margin-top: 10px;
        font-family: "Libre Franklin", serif;
        font-size: 15px;

        color: $C5_very-dark-blue;
    }

    form {
        position: relative;
        width: 478px;
        margin-top: 30px;
        display: flex;
        gap: 12px;

        input {
            width: 316px;
            height: 42px;

            outline: none;
            border: 1px solid $C2_pale-blue;
            border-radius: 25px;

            padding-left: 20px;

            &::placeholder {
                color: $C4_gray;
                opacity: 0.3;
                font-size: 12px;
            }
        }

        button {
            background-color: $C1_blue;
            color: white;

            font-family: "Libre Franklin", serif;
            font-size: 12px;

            width: 150px;
            height: 42px;

            border: none;
            border-radius: 25px;

            cursor: pointer;
            transition: margin 1s;

            &:active {
                transform: translateY(2px);
            }
        }

        .errorMessage {
            position: absolute;
            top: 37px;

            font-family: "Libre Franklin", serif;
            font-weight: 700;
            font-size: 9px;

            padding-left: 23px;

            color: $C3_light-red;
            opacity: 0.7;
        }
    }
}

.illustration-container {
    margin-top: 66px;
    width: 476px;

    img {
        width: 100%;
        object-fit: cover;
    }
}

footer {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;

    .social-links {
        display: flex;
        gap: 10px;
        a {
            display: inline-flex;
            justify-content: center;
            align-items: center;

            width: 23px;
            height: 23px;

            border: 1px solid hsl(223, 100%, 88%, 0.2);
            border-radius: 100%;

            text-decoration: none;

            color: $C1_blue;
            font-size: 12px;

            &:hover {
                background-color: $C1_blue;
                color: white;
            }
        }
    }

    .copyright {
        font-family: "Libre Franklin", serif;
        margin-top: 20px;
        font-size: 9px;
        color: $C4_gray;
        opacity: 0.7;
    }
}

@media (max-height: 645px) {
    header {
        margin-top: 35px;

        h1 {
            margin-top: 16px;
        }

        form {
            margin-top: 20px;
            .errorMessage {
                top: 37px;
            }
        }
    }

    .illustration-container {
        margin-top: 36px;
    }

    footer {
        margin-top: 20px;

        .copyright {
            margin-top: 10px;
        }
    }
}

@media (max-width: 375px) {
    header {
        width: 100%;
        flex-direction: column;

        h1 {
            font-size: 27px;
        }

        form {
            width: 316px;
            flex-direction: column;

            input {
                width: 100%;
                height: 42px;
            }

            button {
                width: 100%;
                height: 42px;
            }

            .errorMessage {
                width: auto;
                padding: 0;
                position: absolute;
                top: 40px;
                left: 50%;
                transform: translateX(-50%);
                white-space: nowrap;
            }
        }
    }

    .illustration-container {
        width: 316px;
    }
}
